.card {
    margin: auto;
    margin-top: 20px;
    background-color: rgb(226, 238, 254);
    border: 1px solid white;
    padding: 20px;
    width: 80%;
    height: 700px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    transition: box-shadow 0.1s ease-in-out;
    &:hover {
        box-shadow: 0px 14px 30px;
        transform: translateY(-5px);
    }
}