.card {
    background-color: rgb(226, 238, 254);
    margin-left: 20px;
    border: 1px solid white;
    padding: 20px;
    width: 200px;
    border-radius: 20px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: box-shadow 0.1s ease-in-out;
    margin-bottom: 20px;
    cursor: pointer;
    p {
        font-weight: 400;
        font-size: 14px;
    }
    &:hover {
        box-shadow: 0px 14px 30px;
        transform: translateY(-5px);
    }
}

.img {
    border: 1px solid black;
    margin-bottom: 20px;
}

.date {
    display: flex;
    justify-content: space-around;
}

.btn {
    display: flex;
    justify-content: center;
}

.doctor {
    display: flex;
    justify-content: center;
}

.service {
    h3 {
        display: flex;
        justify-content: center;
    }
}