.card {
    margin-left: 60px;
    margin-top: 0px;
    display: flex;
    margin-bottom: 20px;
    margin-right: 60px;
}

.top {
    padding: 20px;
}

.img {
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    border-radius: 80%;
}

.date {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.btn {
    display: flex;
    justify-content: center;
}

.doctor {
    display: flex;
    justify-content: center;
}

.service {
    h3 {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
}

.each {
    margin-left: 20px;
}