.input {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 100px;
    margin-left: 100px;
}