.history {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.footer {
    position: relative;
    margin-top: 10px;
    left: 0;
    bottom: 0;
    right: 0;
}

.all-his {
    display: flex;
    flex-wrap: wrap;
}