.wrapper {
    h1 {
        display: flex;
        justify-content: center;
    }
    .personal {
        display: flex;
        font-family: 'Times New Roman', Times, serif;
    }
    div {
        margin-top: 20px;
    }
}

.pat {
    display: flex;
    justify-content: center;
}

.table {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}