.wrapper {
    h1 {
        display: flex;
        justify-content: center;
    }
    .personal {
        display: flex;
        font-family: 'Times New Roman', Times, serif;
    }
    div {
        margin-top: 20px;
    }
}

.treat {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 20px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.icon {
    display: flex;
    justify-content: space-between;
}